{# 这里是emoji表情的字符列表，可手动添加 #}
{% set emoji_faces = ["微笑","可爱","调皮", "呲牙","爱心", "蛋糕","憨笑","奋斗", "礼物", "拥抱","点赞"] %}
{# 这里是颜文字列表，可手动添加 #}
{% set text_faces=["φ(>ω<*)","(〃'▽'〃)","(～￣▽￣)～ ","ヾ(✿ﾟ▽ﾟ)ノ","罒ω罒","(*´ﾟ∀ﾟ｀)ﾉ ","(oﾟ▽ﾟ)o"] %}